<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <div class="container">
      <nav class="site-header">
        <a href="/about/">About</a>
        <a href="/courses/">Courses</a>


        <a href="/" class="site-header__logo"><img src="/src/images/logo.svg" alt=""></a>
        <a href="/about/">Workshops</a>
        <a href="https://bryanlrobinson.com">Blog</a>

      </nav>
      {% block banner %}
      <section class="banner">
        <div class="banner__content">
          <h1 class="banner__title">{{ title }}</h1>
          {%- if subtitle %}<p class="banner__description">{{ subtitle }}</p>{% endif %}
        </div>
        {% if aside %}
        <div class="banner__aside">
          {% if aside.preTitle %}<h4 class="pre-title">{{ aside.preTitle }}</h4>{% endif %}
          {% if aside.title %}<h2 class="aside__title">{{ aside.title }}</h2>{% endif %}
          {% if aside.description %}<p class="aside__description">{{ aside.description }}</p>{% endif %}
          {% if aside.link %}<a href="#" class="button">{% if aside.linkText %}{{ aside.linkText }}{% else %}Sign Up Now{% endif %}</a>{% endif %}
        </div>
        {% endif %}

      </section>
      {% endblock %}

      {{ content | safe }}

      {% include footer %}
    </div>
  </body>
</html>



