@import 'mixins';
@import 'variables';

* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 300;

}
body {
  margin: 0;

}
h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 1em;
  font-weight: 300;
}
p {
  margin: 0 0 .5rem;
}

a {
  color: $color-green;
  text-decoration: none;

}
.button {
  display: inline-block;
  padding: 15px 10%;
  font-size: .75rem;
  background-color: $color-teal;
  color: $color-white;
  text-align: center;
  border-radius: 3px;
}

.pre-title {
  margin-bottom: 0;
  color: $color-green;
}

.banner {
  padding: 20vh 7.5vw 15vh;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1.25fr .85fr;
  grid-gap: 80px;
  background-image: url('/src/images/background-image.jpg');
  background-size: cover;
  align-items: center;
  &__content {
    color: $color-white;
  }
  &__title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: .75em;
  }
  &__description {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6em;
  }
  &__aside {
    background-color: $color-white;
    padding: 50px;
  }
}
.aside {
  &__title {
    font-size: 2.25rem;
    margin-bottom: .5em;
    a {
      color: $color-black;
    }
  }
  &__description {
    line-height: 1.6em;
    margin-bottom: 1.25em;
  }
}




.site-header {
  display: grid;
  grid-template-columns: 1fr  [logo-start] minmax(100px, max-content) [logo-end]  1fr;
  grid-template-rows: [logo-start] 100px [logo-end];
  grid-gap: 5vw;
  max-width: 600px;
  max-width: max-content;
  align-items: center;
  justify-items: center;
  margin: auto;

  a {
    color: $color-black;
  }

  &__logo {
    align-self: start;
    grid-area: logo;
    display: block;
    background-color: $color-white;
    padding: 20px;
    img {
      max-width: 100%;
    }
  }
}


.homepage-courses {
  margin: auto;
  max-width: 1000px;

  .course {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 'image .'
                         'image title'
                         'image description'
                         'image button'
                         'image .';
    grid-column-gap: 5vw;
    margin-bottom: 5vw;
    align-content: center;
    img {
      grid-area: image;
      max-width: 100%;
      border-radius: 5px;

    }
    &__title {
      grid-area: title;
      margin: 0;
    }
    &__description {
      grid-area: description;
    }
    &__button {
      grid-area: button;
    }
  }
}

.main-content {
  max-width: 1000px;
  margin: auto;
}

.about {
  // background-color: $color-darkblue;
  // color: $color-white;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 800px);
  max-width: 2000px;
  margin: auto;
  img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  &__content {
    padding: 20px;
  }
  &__headline {
    font-size: 2rem;
  }
  &__subhead {
    font-size: 1.75rem;
    margin: 30px 0 10px;
  }
  .post {
    margin-bottom: 20px;
    &__headline {
      font-size: 1.3rem;
      margin-bottom: .25em;
    }
  }
}