---
title: Teaching Modern Development and Design Practices
subtitle: Code Contemporary uses a combination of free online content, online courses and in-person workshops to make sure that the design and development communities are using the best, most up-to-date code they can. We strive to make every technologist the most efficient they can be.
layout: layouts/base.html
aside: 
  title: Practical CSS Grid
  preTitle: Featured Course
  description: You’ve heard about CSS Grid layout, but if you haven’t gotten started with it, let me walk you through all its features in a simple, practical approach. By the end of this course, you’ll understand Grid and have practical examples to put into production right away!
  link: https://store.codecontemporary.com/practical-css-grid
  linkText: Sign Up Now
---


<section class="homepage-courses">
  <h2>Code Contemporary Courses</h2>
  {% for course in collections.courses %}
    {% include courses %}
  {% endfor %}
</section>


<section class="newsletter">
  <h3 class="newsletter__title">Stay up to date</h3>
  <p class="newsletter__description">By signing up for the Code Contemporary newsletter, you'll get semi-weekly emails highlighting the best development and design resources! You'll also be the first to know about new Code Contemporary courses as we release them!</p>
  <form action="https://tinyletter.com/code-contemporary" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/code-contemporary', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <input type="text" name="email" id="tlemail" placeholder="Your email">
    <input type="hidden" value="1" name="embed">
    <button class="button newsletter__button" type="submit" value="Subscribe">Subscribe Now</button>
</form></section>


<section class="about">
    <img class="about__image" src="/src/images/uploads/headshot.jpg" alt="">
    <div class="about__content">
      <h3 class="about__headline">Founder and Lead Advocate: Bryan Robinson</h4>
      <p>My name is <a href="http://bryanlrobinson.com" title="Bryan's personal site">Bryan Robinson</a>. I'm a designer, developer and teacher based in Memphis, Tenn. I've been passionate about HTML, CSS and JS for my entire career, and I want to teach you to be just as passionate about it, as well.</p>
      <p>I've spoken nationally about modern CSS. I write regularly about CSS <a href="https://bryanlrobinson.com/blog">on my own blog</a>, and I recently had the opportunity to write about it for <a href="https://css-tricks.com/five-design-fears-vanquish-css-grid/" title="Five Design Fears to Vanquish with CSS Grid">CSS Tricks</a> (still very proud of this). I've mentored designers to be developers and developers to be designers.</p>
    
      <div class="blog-feed">
        <h4 class="about__subhead">More from Bryan</h4>
        {% assign postList = posts.items | slice: "2" %}
        {% for post in postList %}
          <article class="post">
            <h4 class="post__headline"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.description | strip_html | truncatewords: 50 }}</p>
          </article>  
        {% endfor %}
    </div>
  </div>

</section>